body {
	background: #eee;
}

#main {
	background: #fff;
	width: 500px;
	padding: 5px 20px 10px 20px;
	margin: 20px auto 20px auto;
}

#header {
	font: 32px 'Helvetica';
	border-bottom: 1px dashed #555;
	padding: 0 0 10px 0;
}

#description {
	font: 14px 'Georgia', serif;
	line-height: 18px;
	color: #888;
}

.font_size {
	font-family: 'Georgia', serif;
	float: right;
}

.smaller_font {
	font-size: 18px;
}

.larger_font {
	font-size: 24px;
	padding: 0 0 0 10px;
}
